.parallax {
   width: 100%;
   background-image: url("../images/02.jpg");
   height: 50vh;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   display: table;
   text-align: center;
}

.parallax2 {
   width: 100%;
   background-image: url("../images/01.jpg");
   height: 30vh;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   display: table;
   text-align: center;
}

.welcome {
   display: table-cell;
   vertical-align: middle;
   background-color: rgba(0, 0, 0, 0.3);
}
.welcome-text {
   color: white;
   font-weight: bold !important;
   /* -webkit-text-stroke: 0.5px black; */
}

.special-font {
   font-family: 'Courgette', cursive;
}

.p-nombres {
   font-size: 25px;
}

.footer-link {
   color: white;
   text-decoration: none;
}
